/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

html,body{margin:0;padding:0}

#sidebar {
  padding: 10px;
  float: left;
  width: 400px;
  background: #ddd;
}

.pages {
  margin: 0;
  padding: 0;
}
.pages li {
  display: inline;
}
.pages li.current {
  font-weight: bold;
  font-size: 150%;
}

.toc {
  margin: 0;
  padding: 0;
  list-style: none outside none;
}
.toc li {
  margin: 10px 0;
}

#pageview {
  margin-left: 420px;
  padding: 10px;
}

#pageview div.page {
  position: relative;
}

#pageview div.text {
  position: absolute;
  color: white;
  display: block;
  text-align: center;
  vertical-align: middle;
  color: rgba(1,1,1,0);
}

#pageview div.text ::selection {color: white;background: #CCF}
#pageview div.text ::-moz-selection {color: white;background: #CCF}
#pageview div.text ::-webkit-selection {color: white;background: #CCF}

